<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Agregar inventario</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Repuesto seleccionado</label>
                  <input type="text" class="form-control" disabled value="demo">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Cantidad actual</label>
                  <input type="number" class="form-control" disabled value="10">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Agregar cantidad</label>
                  <input type="number" class="form-control" placeholder="Cantidad" required>
                </div>
              </div>
            </div>

            <hr>
            <a class="btn btn-default" routerLink="/inventario-repuestos">Regresar a consultar inventario</a>
            <button class="btn btn-success">Agregar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
