<div class="panel-header panel-header-sm"></div>
<div class="main-content">

  <ng-template #modalFormMotivo let-modal>

    <div class="modal-header">
      <h4 class="title" id="modal-basic-title">Nuevo motivo de servicio</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form novalidate #f="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Descripción</label>
              <input type="text" class="form-control" placeholder="Requerido" required>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" [disabled]="!f.form.valid" (click)="cerrar()">Guardar</button>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Catálogo de motivos de servicio</h4>
        </div>
        <div class="card-body">
          <button class="btn btn-success" type="button" (click)="nuevoMotivo(modalFormMotivo)">Nuevo motivo</button>
          <a class="btn btn-default" routerLink="/ordenes-servicio">Regresar a ordenes de servicio</a>

          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>#</th>
                <th>Descripción</th>
                <th>Operaciones</th>
              </thead>
              <tbody >
                <tr>
                  <td>{{1}}</td>
                  <td>{{''}}</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm btn-round" >Editar</button>
                    <button type="button" class="btn btn-danger btn-sm btn-round">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
