<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <p class="card-text">Reporte de los clientes registrados en el sistema.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Técnicos</h5>
          <p class="card-text">Reporte de los técnicos registrados en el sistema.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">Reporte de los usuarios registrados en el sistema.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Servicios técnicos</h5>
          <p class="card-text">Reporte de los servicios técnicos ofrecidos.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Repuestos</h5>
          <p class="card-text">Reporte del inventario de repuestos.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../assets/img/Report.png" class="card-img-top" alt="foto">
        <div class="card-body">
          <h5 class="card-title">Ordenes cobradas</h5>
          <p class="card-text">Reporte de las ordenes que se han cobrado.</p>
          <button type="button" class="btn btn-success btn-lg">Generar</button>
        </div>
      </div>
    </div>
  </div>

</div>
