<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar repuesto</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="guardar()" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripción</label>
                  <input type="text" class="form-control" placeholder="Requerido" required
                    [(ngModel)]="repuesto.descripcion" name="descripcion">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Precio</label>
                  <input type="number" class="form-control" placeholder="Q." required [(ngModel)]="repuesto.precio"
                    name="precio">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-3 form-group">
                <label>Estante</label>
                <select class="form-control form-control-sm" [(ngModel)]="idEstanteSel" name="idEstanteSel">
                  <option *ngFor="let e of estantes" [value]="e.idEstante">{{e.descripcion}} {{e.numero}}</option>
                </select>
              </div>
              <div class="col-md-1 d-flex align-items-end">
                <button type="button" class="btn btn-info btn-round"><i class="fa fa-plus"></i></button>
              </div>
              <div class="col-md-3 form-group">
                <label>Ubicacion</label>
                <select class="form-control form-control-sm" [(ngModel)]="idUbicacionSel" name="idUbicacionSel">
                  <option *ngFor="let u of ubicaciones" [value]="u.idUbicacion">{{u.descripcion}}</option>
                </select>
              </div>
              <div class="col-md-1 d-flex align-items-end">
                <button type="button" class="btn btn-info btn-round"><i class="fa fa-plus"></i></button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 form-group">
                <label>Caja</label>
                <select class="form-control form-control-sm" [(ngModel)]="idCajaSel" name="idCajaSel">
                  <option *ngFor="let c of cajas" [value]="c.idCaja">{{c.descripcion}} {{c.numero}}</option>
                </select>
              </div>
              <div class="col-md-1 d-flex align-items-end">
                <button type="button" class="btn btn-info btn-round"><i class="fa fa-plus"></i></button>
              </div>
            </div>


            <hr>
            <a class="btn btn-default" routerLink="/inventario-repuestos">Regresar a consultar inventario</a>
            <button class="btn btn-success" [disabled]="(!f.valid)">Guardar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
