<ng-template #modalFormEstante let-modal>

  <div class="modal-header">
    <h4 class="title" id="modal-basic-title">Nuevo estante</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="guardar()" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" placeholder="Requerido" required [(ngModel)]="estante.descripcion" name="descripcion">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Número</label>
            <input type="number" class="form-control" placeholder="Numero" required [(ngModel)]="estante.numero" name="numero">
          </div>
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="!f.form.valid" >Guardar</button>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>


<div class="card">
  <div class="card-body">
    <h6 class="card-title">Estantes</h6>

    <button class="btn btn-success" type="button" (click)="nuevo(modalFormEstante)">Nuevo estante</button>

    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>#</th>
          <th>Descripción</th>
          <th>Número</th>
          <th>Operaciones</th>
        </thead>
        <tbody *ngFor="let e of estantes">
          <tr>
            <td>{{e.idEstante}}</td>
            <td>{{e.descripcion}}</td>
            <td>{{e.numero}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm btn-round" (click)="editar(e, modalFormEstante)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm btn-round" (click)="eliminar(e.idEstante)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
