<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Inventario de repuestos</h4>
        </div>
        <div class="card-body">
          <a class="btn btn-success" routerLink="/inventario-repuestos/nuevo">Registrar nuevo repuesto</a>
          <a class="btn btn-info" routerLink="/inventario-repuestos/catalogos">Catalogos</a>




            <div class="row">
              <div class="col-md-2">
                <label>Estante</label>
                <select class="form-control form-control-sm" (change)="consultarInventario()"
                  [(ngModel)]="idEstanteSel">
                  <option *ngFor="let e of estantes" [value]="e.idEstante">{{e.descripcion}} {{e.numero}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>Ubicacion</label>
                <select class="form-control form-control-sm" (change)="consultarInventario()"
                  [(ngModel)]="idUbicacionSel">
                  <option *ngFor="let u of ubicaciones" [value]="u.idUbicacion">{{u.descripcion}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>Caja</label>
                <select class="form-control form-control-sm" (change)="consultarInventario()" [(ngModel)]="idCajaSel">
                  <option *ngFor="let c of cajas" [value]="c.idCaja">{{c.descripcion}} {{c.numero}}</option>
                </select>
              </div>

            </div>

          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>#</th>
                <th>Descripcion

                </th>
                <th class="text-right">Precio</th>
                <th class="text-center">Existencia</th>
                <th>Estante

                </th>
                <th>Ubicacion</th>
                <th>Caja</th>
                <th>Estado</th>
                <th>Operaciones</th>
              </thead>
              <tbody *ngFor="let i of inventario">
                <tr>
                  <td>{{i.idInventarioRepuesto}}</td>
                  <td>{{i.descripcion}}</td>
                  <td class="text-right">{{i.precio}}</td>
                  <td class="text-center">{{i.existencia}}</td>
                  <td>{{i.estante.descripcion}}</td>
                  <td>{{i.ubicacion.descripcion}}</td>
                  <td>{{i.caja.descripcion}}</td>
                  <td>
                    <span *ngIf="i.estado == 0" class="badge badge-danger">Desactivado</span>
                    <span *ngIf="i.estado == 1" class="badge badge-success">Activado</span>
                  </td>
                  <td>
                    <a class="btn btn-warning btn-sm btn-round" routerLink="/inventario-repuestos/editar/{{i.idInventarioRepuesto}}">Editar</a>
                    <button type="button" *ngIf="i.estado == 1" class="btn btn-danger btn-sm btn-round" (click)="desactivar(i.idInventarioRepuesto)">Desactivar</button>
                    <button type="button" *ngIf="i.estado == 0" class="btn btn-primary btn-sm btn-round" (click)="activar(i.idInventarioRepuesto)">Activar</button>
                    <a class="btn btn-success btn-sm btn-round" routerLink="/inventario-repuestos/agregar/1">Agregar</a>
                    <a class="btn btn-info btn-sm btn-round" routerLink="/inventario-repuestos/ajustar/1">Ajustar</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
