<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-xl-3 col-lg-12 col-md-6">
      <div class="card text-white bg-info">
        <div class="card-header">
          <h4 class="card-title">Inventario de repuestos</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Cantidad:</div>
            <div class="col-md-6 font-italic text-danger">100</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Costo:</div>
            <div class="col-md-6 font-italic text-danger">Q100.0</div>
          </div>

        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger btn-sm">Ir a inventario</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6">
      <div class="card text-white bg-success">
        <div class="card-header">
          <h4 class="card-title">Ordenes reservadas</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Cantidad:</div>
            <div class="col-md-6 font-italic text-danger">100</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Prioritarias:</div>
            <div class="col-md-6 font-italic text-danger">100</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Fecha:</div>
            <div class="col-md-6 font-italic">2021</div>
          </div>

        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger btn-sm">Ir a ordenes</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6">
      <div class="card text-white bg-warning">
        <div class="card-header">
          <h4 class="card-title">Ordenes por entregar</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Cantidad:</div>
            <div class="col-md-6 font-italic text-success">100</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Fecha:</div>
            <div class="col-md-6 font-italic">2021</div>
          </div>

        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger btn-sm">Ir a cobros</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12 col-md-6">
      <div class="card text-white bg-secondary">
        <div class="card-header">
          <h4 class="card-title">Servicios cobrados</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Cantidad:</div>
            <div class="col-md-6 font-italic text-success">100</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Total:</div>
            <div class="col-md-6 font-italic text-success">Q100.0</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-weight-bold font-italic">Fecha:</div>
            <div class="col-md-6 font-italic">2021</div>
          </div>

        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-danger btn-sm">Ir a servicios cobrados</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header ">
          <h5 class="card-category">Listado de personal técnico</h5>
          <h4 class="card-title">Personal técnico</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Nombre completo</th>
                <th>Estado</th>

              </thead>
              <tbody >
                <tr>

                  <td>Lorem ipsum dolor sit amet.</td>
                  <td>
                    <span class="badge badge-success">Activo</span>
                    <span class="badge badge-danger">Inactivo</span>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="#" class="btn btn-info btn-sm">Consultar personal</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Listado de servicios ofrecidos</h5>
          <h4 class="card-title">Servicios técnicos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Descripción</th>

                <th>Categoria</th>

              </thead>
              <tbody>
                <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>

                  <td>Lorem, ipsum.</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="#" class="btn btn-info btn-sm">Consultar servicios</a>
        </div>
      </div>
    </div>
  </div>
</div>
