<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Crear usuario</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nombre completo</label>
                  <input type="text" class="form-control" placeholder="Requerido" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control" placeholder="Requerido" required>
                </div>
              </div>
              <div class="col-md-3 form-group">
                <label>Clave</label>
                <input type="text" [ngClass]="{'form-control': true}"
                  placeholder="Requerido" required>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Asignar rol</label>
                <select class="form-control" required>
                  <option value="{{-1}}">Seleccione</option>
                </select>
              </div>
              <div class="col-md-3 d-flex align-items-end">
                <button type="button" class="btn btn-info btn-round"><i class="fa fa-plus"></i>Nuevo</button>
              </div>
            </div>

            <hr>

            <a class="btn btn-default" routerLink="/usuarios">Regresar a consultar usuarios</a>
            <button class="btn btn-success">Guardar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
