<div class="panel-header">
  <div class="header text-center">
   <div class="row">
      <div class="col-md-2">
        <label class="text-info font-italic">10</label>
        <h6 class="text-white font-italic">Cantidad</h6>
      </div>
      <div class="col-md-2">
        <label class="text-white font-italic">Fecha aqui</label>
        <h6 class="text-white font-italic">Fecha</h6>
      </div>
      <div class="col-md-2">
        <label class="text-success font-italic">Reservadas</label>
        <h6 class="text-white font-italic">Estado</h6>
      </div>
    </div>
  </div>

</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ordenes de servicio</h4>
        </div>
        <div class="card-body">
          <a class="btn btn-success" routerLink="/ordenes-servicio/crear">Nueva orden de servicio</a>
          <a class="btn btn-info" routerLink="/ordenes-servicio/catalogo-motivos">Catáloto de motivos</a>


          <form>
            <div class="row">
              <div class="col-md-2">
                <label>Tecnico</label>
                <select class="form-control form-control-sm">
                  <option value="{{0}}">Seleccionar</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>Prioridad</label>
                <select class="form-control form-control-sm">
                  <option value="{{0}}">Seleccionar</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>Motivo</label>
                <select class="form-control form-control-sm">
                  <option value="{{0}}">Seleccionar</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>Cliente</label>
                <select class="form-control form-control-sm">
                  <option value="{{0}}">Seleccionar</option>
                </select>
              </div>
              <div class="col-md-2">
                  <label>Fecha</label>
                  <input type="date" class="form-control form-control-sm">
              </div>
              <div class="col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-primary mb-0 btn-sm">Consultar</button>
              </div>
            </div>
          </form>

          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>#</th>
                <th>Fecha Ingreso</th>
                <th>Entrega máxima</th>
                <th>Descripcion</th>
                <th>Técnico</th>
                <th>Prioridad</th>
                <th>Motivo</th>
                <th>Cliente</th>
                <th>Operaciones</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>demo</td>
                  <td>asds</td>
                  <td>asds</td>
                  <td>asds</td>
                  <td>asds</td>
                  <td>asds</td>
                  <td>asds</td>
                  <td>
                    <a class="btn btn-warning btn-sm btn-round">Editar</a>
                    <button type="button" class="btn btn-danger btn-sm btn-round">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
