<div class="panel-header">
  <div class="header text-center">
    <div class="row">
      <div class="col-md-2">
        <label class="text-info font-italic">{{ordenes.length}}</label>
        <h6 class="text-white font-italic">Cantidad</h6>
      </div>
      <div class="col-md-2">
        <label class="text-white font-italic">{{fechaSel}}</label>
        <h6 class="text-white font-italic">Fecha</h6>
      </div>
      <div class="col-md-2">
        <label class="text-success font-italic">Reservadas</label>
        <h6 class="text-white font-italic">Estado</h6>
      </div>
    </div>
  </div>

</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ordenes de servicio</h4>

        </div>
        <div class="card-body">
          <a class="btn btn-success" routerLink="/ordenes-servicio/crear">Nueva orden de servicio</a>
          <a class="btn btn-info" routerLink="/ordenes-servicio/catalogo-motivos">Catáloto de motivos</a>

          <div class="row">
            <div class="col-md-2">
              <label>Tecnico</label>
              <select class="form-control form-control-sm" (change)="consultar()" [(ngModel)]="idTecnicoSel">
                <option value="">- Todos -</option>
                <option *ngFor="let t of tenicos" [value]="t.idTecnico">{{t.nombreCompleto}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Prioridad</label>
              <select class="form-control form-control-sm" (change)="consultar()" [(ngModel)]="idPriodidadSel">
                <option value="">- Todos -</option>
                <option *ngFor="let p of prioridaddes" [value]="p.idPrioridad">{{p.descripcion}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Motivo</label>
              <select class="form-control form-control-sm" (change)="consultar()" [(ngModel)]="idMotivoSel">
                <option value="">- Todos -</option>
                <option *ngFor="let m of motivos" [value]="m.idMotivoOrden">{{m.descripcion}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Cliente</label>
              <select class="form-control form-control-sm" (change)="consultar()" [(ngModel)]="idClienteSel">
                <option value="">- Todos -</option>
                <option *ngFor="let c of clientes" [value]="c.idCliente">{{c.nombreCliente}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Fecha ingreso</label>
              <input type="date" class="form-control form-control-sm" (change)="consultar()" [(ngModel)]="fechaSel">
            </div>

          </div>

          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>#</th>
                <th>Foto</th>
                <th>Fecha Ingreso</th>
                <th>Entrega máxima</th>
                <th>Descripcion</th>
                <th>Técnico</th>
                <th>Prioridad</th>
                <th>Motivo</th>
                <th>Cliente</th>
                <th>Operaciones</th>
              </thead>
              <tbody *ngFor="let o of ordenes">
                <tr>
                  <td>{{o.idOrden}}</td>
                  <td>
                    <img [src]="'data:image/jpg;base64,'+o.imagenReferencia" class="img-fluid img-thumbnail" alt="..." style="max-height: 75px;">
                  </td>
                  <td>{{o.fechaIngreso}}</td>
                  <td>{{o.entregaMaxima}}</td>
                  <td>{{o.descripcionOrden}}</td>
                  <td>{{o.tecnico.nombreCompleto}}</td>
                  <td>
                    <span *ngIf="o.prioridad.idPrioridad === 1" class="badge badge-success">{{o.prioridad.descripcion}}</span>
                    <span *ngIf="o.prioridad.idPrioridad === 2" class="badge badge-warning">{{o.prioridad.descripcion}}</span>
                    <span *ngIf="o.prioridad.idPrioridad === 3" class="badge badge-danger">{{o.prioridad.descripcion}}</span>
                  </td>
                  <td>{{o.motivoOrden.descripcion}}</td>
                  <td>{{o.cliente.nombreCliente}}</td>
                  <td>
                    <a class="btn btn-warning btn-sm btn-round" routerLink="/ordenes-servicio/editar/{{o.idOrden}}">Editar</a>
                    <button type="button" class="btn btn-danger btn-sm btn-round" (click)="eliminar(o.idOrden)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
