<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ajustar inventario</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ajustar()" #f="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Repuesto seleccionado</label>
                  <input type="text" class="form-control" disabled [value]="descripcion">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Cantidad actual</label>
                  <input type="number" class="form-control" disabled [value]="actual">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nueva cantidad</label>
                  <input type="number" class="form-control" placeholder="Cantidad" required [(ngModel)]="nueva" name="nueva">
                </div>
              </div>
            </div>

            <hr>
            <a class="btn btn-default" routerLink="/inventario-repuestos">Regresar a consultar inventario</a>
            <button class="btn btn-success" [disabled]="(!f.valid)">Ajustar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
