<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Personal técnico registrado</h4>
        </div>
        <div class="card-body">
          <a class="btn btn-success" routerLink="/personal-tecnico/crear">Nuevo Personal</a>

          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>#</th>
                <th>Nombre completo</th>
                <th>Estado</th>
                <th>Operaciones</th>
              </thead>
              <tbody *ngFor="let t of tecnicos">
                <tr>
                  <td>{{t.idTecnico}}</td>
                  <td>{{t.nombreCompleto}}</td>
                  <td>
                    <span *ngIf="t.estado" class="badge badge-success">Activo</span>
                    <span *ngIf="!t.estado" class="badge badge-danger">Inactivo</span>
                  </td>
                  <td>
                    <a class="btn btn-warning btn-sm btn-round"
                      routerLink="/personal-tecnico/editar/{{t.idTecnico}}">Editar</a>
                    <button type="button" *ngIf="t.estado" class="btn btn-danger btn-sm btn-round"
                      (click)="desactivar(t.idTecnico)">Desactivar</button>
                    <button type="button" *ngIf="!t.estado" class="btn btn-primary btn-sm btn-round"
                      (click)="activar(t.idTecnico)">Activar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
